<h4>管理者ログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table class="table">

  <tr>
    <th>メールアドレス</th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <th>パスワード</th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>