<p>ジャンル編集</p>
<div>
	<%= form_for [:admin, @genre] do |f| %>
	<div>
		<label>ジャンル</label>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.select :valid_status, Genre.valid_statuses.keys.to_a, {class: 'form-control'} %>
	</div>
	<div>
		<%= f.submit %>
	</div>
	<% end %>
</div>