<div class= "col-xs-3">
	<%= render 'layouts/sidebar' %>
</div>

<div class="col-xs-9">

	<section id="top">
		<p class= "top-text">
			ようこそ、NaganoCakeへ！<br>
			このサイトはケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。
		</p>
	</section>

	<section id="recommend-items">
		<h3>オススメ商品<h3>
			<div class="recommend-items-group clearfix">
			</div>
	</section>

	<%=link_to "もっと見る>", public_items_path %>
</div>