<div class= "col-xs-3">
	<%= render 'layouts/sidebar' %>
</div>

<div class="col-xs-9">

	<p>
		ようこそ、NaganoCakeへ！<br>
		このサイトはケーキ販売のECサイトになります。<br>
		会員でない方も商品の閲覧はできますが、<br>
		購入には会員登録が必要になります。
	</p>

	<h2>オススメ商品<h2>
</div>