/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.navbar-brand-center {
	position: absolute;
	width: 100%;
	left: 0;
	padding-top: 25px;
	text-align:center;
	margin: auto;
}

#top {
	width: 80%;
	height: 300px;
	color: #000000;
	background-image: url(img/cake.jpg);
	background-size: cover;
	background-position: center;
}

.top-text {
	padding-top: 100px;
	text-align: center;
}

#thanks {
	margin-top: 250px;
	text-align: center;
}

#about {
	text-align: center;
}

.about-image {
	width: 50%;
	height: 300px;
	background-image: url(img/cake_shop.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.recommend-item-informaiton {
	display: inline-block;
}

.recommend-item-name {
	font-size: 15px;
}

.recommend-item-price {
	font-size: 15px;
}

.recommend-item {
	float: left;
	width: 180px;
	height: 150px;
	background-size: cover;
	background-position: center;
	margin: 10px 10px 0 0;
}

.bg-1 {
	background-image: url(img/recommend-cake.jpg);
}

.bg-2 {
	background-image: url(img/recommend-baked_goods.jpg);
}

.bg-3 {
	background-image: url(img/recommend-pudding.jpg);
}

.bg-4 {
	background-image: url(img/recommend-candy.jpeg);
}

.recommend-item:nth-child(4) {
	margin-right: 0;
}

.more-items {
	text-align: right;
}
.admin-page-title{
    width: 10%;
    margin-left: 3%;
    font-size: large;
	background-color: #EEEEEE;
	text-align: center;
}
.admin-page-title-genre{
    width: 25%;
    margin-left: 3%;
    font-size: large;
	background-color: #EEEEEE;
	text-align: center;
}
.admin-item-name{
	text-decoration:underline
}
.genre-new{
	margin-top: 5%;
	margin-bottom: 5%;
}

.genre {
	font-size: 20px;
}