<div class="genre">
	<div>
		<strong>ジャンル検索</strong>
	</div>

	<% genres.each do |genre| %>
		<div class="col-md-12">
			<%= link_to public_genre_items_path(genre) do %>
				<span><%= genre.name %></span>
	    	<% end %>
		</div>
	<% end %>

</div>