<div class= "col-xs-3">
	<%= render 'layouts/sidebar' %>
</div>

<div class= "col-xs-9">
	<h2>商品一覧</h2>
		<% @items.each do |item| %>
			<%= attachment_image_tag(item, :image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
			<%= item.name %>
			<%= item.price %>
		<% end %>
</div>