<h4 class="genre_search">ジャンル検索</h4>
	<ul style="list-style: none;">
		<li class="genre_name">ケーキ</li>
		<li class="genre_name">焼き菓子</li>
		<li class="genre_name">プリン</li>
		<li class="genre_name">キャンディ</li>
	</ul>